extends layout

block content

  .well
    | How many times did you do each workshop?
  if error
    .alert.alert-danger
      =error
  form.form(method='POST' action='/')
    .form-group
      label(for='initials') Initials or Anonymous Identifier
      input.input-sm.form-control#initials(name='initials', value=user.initials)
    .form-group
      label(for='password') Password
      input.input-sm.form-control#password(type='password' name='password', value=user.password)
    for workshop in workshops
      .form-group
        label(for=workshop)= workshop 
        input.form-control.input-sm(name=workshop, type='number' id=workshop, value=user[workshop])
    button.btn.btn-primary Save
